
<div class="show container">
  <div class="col-12" style="text-align:center; font-size:3rem; margin:20px auto">
     <strong><%= @contest.title %></strong>
          
  </div>
  <div class="row">
    <div class="col-md-3" >
       <p>
          <%= image_tag(@contest.image.url, width: "100%")%>
        </p>
    </div>
    <div class="col-md-4">
      <div class="card">
        <p id="notice"><%= notice %></p>
        
        <p>
          <strong>마감일 </strong>
          <%= @contest.period %>
        </p>
        
        <p>
          <strong>소개 </strong>
          <%= @contest.introduce %>
        </p>
        
        <p>
          <strong>분야 </strong>
          <%= @contest.category %>
        </p>
        <p>
          <strong>태그 </strong>
          <%= tag_icons @contest.tag_list %>  
        </p>
       
      </div>
    </div>
    
    <div class="col-md-5">
      <div class="card">
          
          <% @team_list.each do |team| %>
            <div class="list_no" style="cursor:pointer"><B><%=team.title%></B> </div>
            <div class="list_member">
              <% team.users.each do |t|%>
                <p><%= t.email%></p>
                <a href=''></a>
              <% end %>
            </div>
            <br>
          <% end %>
          <!--<div class="list_no" style="cursor:pointer"><B>TEAM 1</B> </div>-->
          <!--<div class="list_member">-->
          <!--    <div>-->
          <!--   <ul>장서정</ul>-->
          <!--   <ul>장순호</ul>-->
          <!--   <ul>장서정</ul>-->
          <!--   <ul>장순호</ul>-->
          <!--    </div>-->
          <!--    <a href=''></a>-->
          <!--</div>-->
          <!--<br>-->
          
          <!--<div class="list_no" style="cursor:pointer"><B>TEAM 2</B></div>-->
          <!--<div class="list_member">-->
          <!--    <div>-->
          <!--    <ul>최성흠</ul>-->
          <!--    <ul>성큼</ul>-->
          <!--    </div>-->
          <!--</div>-->
          <!--<br>-->
          
          <!--<div class="list_no" style="cursor:pointer"><B>TEAM 3</B></div>-->
          <!--<div class="list_member">-->
          <!--    <div>-->
          <!--    <ul>전지원</ul>-->
          <!--    <ul>이동건</ul>-->
          <!--    <ul>양효영</ul>-->
          <!--    </div>-->
          <!--</div>-->
          <!--<br>-->
          
      </div>
    </div>
    </div>
  </div>
  <a href='<%=new_team_path%>?cid=<%=params[:id]%>'>팀 생성</a>
  
  <hr />
  <%= link_to 'Edit', edit_contest_path(@contest) %> |
  <%= link_to 'Back', contests_path %>
</div>


<div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>


<script type="text/javascript">
  initShowHideDivs();
</script>